.layout-section{
    width: 100vw;
    height: 100vh;
    // background-color: black;
    .container-wrapper{
        margin-top: 60px;
        margin-left: 120px;
        // background-color: red;
        height: calc(100vh - 60px);
        position: fixed;
        width: calc(100vw - 120px);
    }
}